body {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: 
    "header     header"
    "banner     banner"
    "contenido  contenido"
    "footer     footer";
}

header {
    height: auto;
    grid-area: header;
    background-color:rgb(255, 187, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

header nav {
    display: flex;
}

header nav a {
    padding: 8px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btnLogin {
    background-color: aqua;
    border-radius: 8px;
}

.logoLogin {
    height: 20px;
}

#banner {
    grid-area: banner;
    height: 90vh;
    background-color:greenyellow;
}

#contenido {
    grid-area: contenido;
    height: 90vh;
    background-color:rgb(241, 71, 190);
}

footer {
    grid-area: footer;
    height: 100px;
    background-color:rgb(29, 29, 29); 
}

.navLogo {
    width: 80px;
}

@media only screen and (min-width: 560px) {
    body {
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: 
        "header     header"
        "banner     contenido"
        "footer     footer";
    }
}