body {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: 
    "header     header"
    "banner     banner"
    "contenido  contenido"
    "footer     footer";
}

@include notebook {
    body {
        grid-template-areas: 
        "header     header"
        "banner     contenido"
        "banner     contenido"
        "footer     footer";
    }
    
    #grid-home {
        grid-template-areas: 
        "header     header"
        "banner     banner"
        "contenido  contenido"
        "footer     footer";
    }
}