body {
    #metodos__banner {
        grid-area: banner;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background: linear-gradient(0deg, $grisOscuro 0%, $grisClaro 100%);

        @include largeScreen {
            flex-direction: row;
            justify-content: space-around;
            padding: 1rem;
            height: auto;
            min-height: 45vh;

            .metodos__banner--texto {
                width: 60%;

                h1 {
                    padding: 1.5rem 0;
                }

                h5 {
                    padding: 1.5rem 0;
                }
            }
        }

        .metodos__banner--video {
            iframe {
                padding: 1rem 0;
                width: 320px;
                height: 180px;

                @include notebook {
                    padding: 1rem 0;
                    width: 560px;
                    height: 315px;
                }
            }
        }
        .metodos__banner--texto {
            max-width: 85%;
            color: $plateado;
            text-align: right;
            padding: 2rem 0;

            h1 {
                font-size: 2.5rem;

                span {
                    font-weight: bold;
                }
            }

            p {
                padding: 1rem 0;
                font-size: 1.5rem;
            }

            h5 {
                font-style: italic;
                font-size: 1.2rem;
            }
        }
    }

    #metodos__contenido {
        grid-area: contenido;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        padding: 2rem;
        background-color: $plateado;

        @include tablet {
            display: flexbox;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height:auto;
        }

        .metodos__contenido--card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, $rosaOscuro 0%, $rosaClaro 100%);
            width: 98%;
            box-shadow: 0px 5px 10px $grisOscuro;
            margin: 1rem;
            transition: transform 0.3s ease;

            &:hover {
                transform:translate(5px,-5px);
            }

            @include tablet {
                width: 250px;
            }

            .material-icons {
                color: white;
                font-size: 8rem;
                margin: 0.5rem;
            }

            h3 {
                font-weight: bold;
                font-size: 2rem;
                padding-bottom: 1rem;
                color: $grisOscuro;
            }

            p {
                background-color: white;
                line-height: 3rem;
                width: 100%;
                text-align: center;
                font-size: 1rem;
            }

        }

        a {
            margin-top: 1rem;
        }
    }
}